# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Mac OS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# Windows OS
# =========================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
desktop.ini